In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
%cd /content/drive/MyDrive/Vehicle_Detection/Kaggle

/content/drive/MyDrive/Vehicle_Detection/Kaggle

In [ ]:
import pandas as pd
import lxml.etree,xml.etree.ElementTree as et

In [ ]:
%cd /content/drive/MyDrive/Vehicle_Detection/Kaggle/train/Final Train Dataset

/content/drive/MyDrive/Vehicle_Detection/Kaggle/train/Final Train Dataset

In [ ]:
import glob,os
xml_files = []
# for file in glob.glob("Data/train/Img/*xml"):
for file in glob.glob("*xml"):
    xml_files.append(os.path.basename(file))

In [ ]:
xml_files.remove('231.xml')

In [ ]:
# XML to pandas dataframe conversion
a = {'folder': [],
     'filename': [],
     'path': [],
     'database': [],
     'width': [],
     'height': [],
     'depth': [],
     'segmented': [],
     'name': [],
     'pose': [],
     'truncated': [],
     'difficult': [],
     'xmin': [],
     'ymin': [],
     'xmax': [],
     'ymax': []}


for file_name in xml_files:
    etree = et.parse(file_name)
    eroot = etree.getroot()

    doc = lxml.etree.parse(file_name)
    count = doc.xpath('count(//object)')

    for x in eroot.iter():
        if x.tag in a.keys():
            a[x.tag].append(x.text)
        if (x.tag in ['folder','filename','path','database','width','height','depth','segmented']):
            for i in range (1,int(count)):
              a[x.tag].append(x.text)

In [ ]:
df = pd.DataFrame.from_dict(a)
df

,folder,filename,path,database,width,height,depth,segmented,name,pose,truncated,difficult,xmin,ymin,xmax,ymax
0,Images,02_Motijheel_280714_0005.jpg,E:\Datasets\Dataset\Images\02_Motijheel_280714...,Unknown,1200,800,3,0,bus,Unspecified,1,0,833,390,1087,800
1,Images,02_Motijheel_280714_0005.jpg,E:\Datasets\Dataset\Images\02_Motijheel_280714...,Unknown,1200,800,3,0,bus,Unspecified,0,0,901,284,1018,395
2,Images,02_Motijheel_280714_0005.jpg,E:\Datasets\Dataset\Images\02_Motijheel_280714...,Unknown,1200,800,3,0,bus,Unspecified,0,0,909,241,1010,287
3,Images,02_Motijheel_280714_0005.jpg,E:\Datasets\Dataset\Images\02_Motijheel_280714...,Unknown,1200,800,3,0,rickshaw,Unspecified,0,0,761,413,832,540
4,Images,02_Motijheel_280714_0005.jpg,E:\Datasets\Dataset\Images\02_Motijheel_280714...,Unknown,1200,800,3,0,rickshaw,Unspecified,0,0,777,364,828,409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24363,data,Pias (99).jpg,D:\Datasets\New\data\Pias (99).jpg,Unknown,854,480,3,0,car,Unspecified,0,0,376,285,473,365
24364,data,Pias (99).jpg,D:\Datasets\New\data\Pias (99).jpg,Unknown,854,480,3,0,car,Unspecified,0,0,360,282,402,314
24365,data,Pias (99).jpg,D:\Datasets\New\data\Pias (99).jpg,Unknown,854,480,3,0,car,Unspecified,0,0,442,275,470,301
24366,data,Pias (99).jpg,D:\Datasets\New\data\Pias (99).jpg,Unknown,854,480,3,0,three wheelers (CNG),Unspecified,0,0,486,277,533,335
24367,data,Pias (99).jpg,D:\Datasets\New\data\Pias (99).jpg,Unknown,854,480,3,0,three wheelers (CNG),Unspecified,0,0,601,284,693,344

In [ ]:
df.describe()

,folder,filename,path,database,width,height,depth,segmented,name,pose,truncated,difficult,xmin,ymin,xmax,ymax
count,24368,24368,24368,24368,24368,24368,24368,24368,24368,24368,24368,24368,24368,24368,24368,24368
unique,37,3001,3001,1,225,341,1,1,21,1,2,1,2505,2066,2629,2305
top,New folder,215.jpg,C:\Users\ASUS\Desktop\New folder\215.jpg,Unknown,1920,1080,3,0,car,Unspecified,0,0,1,1,1920,1080
freq,4973,122,122,24368,9158,9385,24368,24368,5476,24368,22371,24368,599,124,287,260

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24368 entries, 0 to 24367
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   folder     24368 non-null  object
 1   filename   24368 non-null  object
 2   path       24368 non-null  object
 3   database   24368 non-null  object
 4   width      24368 non-null  object
 5   height     24368 non-null  object
 6   depth      24368 non-null  object
 7   segmented  24368 non-null  object
 8   name       24368 non-null  object
 9   pose       24368 non-null  object
 10  truncated  24368 non-null  object
 11  difficult  24368 non-null  object
 12  xmin       24368 non-null  object
 13  ymin       24368 non-null  object
 14  xmax       24368 non-null  object
 15  ymax       24368 non-null  object
dtypes: object(16)
memory usage: 3.0+ MB

In [ ]:
df['name']. value_counts()

car                     5476
rickshaw                3549
bus                     3340
three wheelers (CNG)    2990
motorbike               2284
truck                   1492
pickup                  1225
minivan                  935
suv                      860
van                      756
bicycle                  459
auto rickshaw            372
human hauler             169
wheelbarrow              120
minibus                   95
ambulance                 70
taxi                      60
army vehicle              43
scooter                   38
policecar                 32
garbagevan                 3
Name: name, dtype: int64